span {
  color: rgb(11, 210, 210);
}

.box-4 {
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tweet {
  width: 90%;
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tweet > .box-3 > .user > img {
  width: 40px;
  height: 40px;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}

.tweet > .box-3 > .user p {
  margin-bottom: 2px;
}

.tweet > .box-3 > .user {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
}

.tweet .box-3 .texto {
  margin-bottom: 2px;
  margin-top: 2px;
}

.tweet > * {
  font-size: smaller;
  padding-left: 10px;
  padding-right: 10px;
}

.vermas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vermas p {
  color: rgb(255, 119, 0);
}

.user .abajo {
  width: auto;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user img {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.voto {
  width: 18px !important;
  height: 30px;
}

.gris {
  color: grey;
}

h1 {
  font-size: larger;
}

.X {
  width: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(230, 224, 224);
  margin: 0px;
  overflow-y: scroll;
}

hr {
  margin: 0px;
  border-left: 0px;
  border-right: 0px;
  width: 97%;
  align-self: center;
  padding: 0px !important;
}

.principio {
  background: #f9f9f9;
  width: 100%;
  height: 93px;
  padding-top: 7px;
}

.abajo {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.os {
  display: flex;
  align-items: center;
  gap: 3px;
}

.movil {
  display: flex;
  align-items: center;
  font-size: smaller;
  padding: 5px;
  height: 10px;
  padding: 5px;
  background-color: rgb(196, 195, 195);
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.data {
  display: flex;
  gap: 10px;
}

.yap {
  font-size: smaller;
  border: solid 1px grey;
  border-radius: 10%;
  padding: 5px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

.texto h2 {
  margin: 2px;
}

.texto > p {
  margin: 2px;
  margin-bottom: 13px;
}

.box-3 .texto {
  margin: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
}

.yap > img {
  width: 10px;
}

a {
  text-decoration: none; /* Quitar subrayado */
  color: grey; /* Heredar el color del elemento padre */
  font-size: large;
}

header > input {
  background: url(./images/search.png) no-repeat scroll 0px 0px;
  padding-left: 30px;
  height: 20px;
}

.barra {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
}

.barra > a {
  font-size: small;
  padding: 10px;
}

.barra > a:hover {
  background-color: rgb(224, 218, 218);
}

.flechas {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  position: sticky;
  right: 0px;
}

.flechas > * {
  width: 20px;
}

body {
  padding-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Para que los elementos se apilen verticalmente */
}

.spam, .infospam {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90vw;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 9px;
  gap: 2px;
  font-size: 14px;
}

.spam > img {
  width: 10px;
}

.spam button, .box-3 button {
  color: #f9f9f9;
  background-color: rgb(208, 97, 6);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-style: none;
  padding: 8px;
}

.spam button:hover, .box-3 button:hover {
  background-color: rgb(156, 73, 5);
}

.negrita {
  font-weight: bolder;
}

.wel, .sub {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sub > input {
  padding: 8px;
}

main img {
  width: 85px;
}

main > * > * {
  margin-top: 20px;
  background-color: #f9f9f9;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column; /* Para que los elementos se apilen verticalmente */
}

.box-1 {
  display: flex;
  flex-direction: column;
}

.box-1 > * {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
}

.linea-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.linea-5 {
  display: flex;
  font-size: small;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.linea-5 .X {
  padding-right: 0px;
}

.X {
  padding-right: 10px;
}

.popnew {
  display: flex;
  gap: 10px;
}

.box-3 .linea-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-3 .linea-2 > p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.box-3 .linea-2 > * {
  margin: 17px;
}

.box-3 .linea-2 > button {
  font-size: small;
}

footer {
  width: 50px;
  height: 50px;
  background-color: grey;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  animation: moveFooter 0.9s infinite;
  -webkit-animation: moveFooter 0.9s infinite;
}

@keyframes moveFooter {
  0% {
    bottom: 20px;
  }
  20% {
    bottom: 23px;
  }
  40% {
    bottom: 17px;
  }
  80% {
    bottom: 20px;
  }
}
footer:hover {
  background-color: rgb(85, 84, 84);
}

@media (width > 1200px) {
  .abajo {
    width: 760px;
  }
  .principio {
    height: 100px;
  }
  .principio {
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Para que los elementos se apilen verticalmente */
  }
  .P {
    width: 50px;
  }
  header {
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }
  header > input {
    width: 1000px;
  }
  .barra {
    width: 1180px;
  }
  header > a {
    text-decoration: none; /* Quitar subrayado */
    color: grey; /* Heredar el color del elemento padre */
  }
  .spam {
    width: 1160px;
    margin-left: 0px;
    margin-right: 0px;
  }
  main > * {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  main {
    width: 1180px;
    display: grid;
    grid-template-columns: 77% 20%;
    gap: 1%;
  }
  footer {
    display: none;
  }
  .nover {
    display: none !important;
  }
}
@media (1200px >= width > 992px) {
  .P {
    width: 50px;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }
  header > input {
    width: 100vw;
  }
  header > a {
    text-decoration: none; /* Quitar subrayado */
    color: grey; /* Heredar el color del elemento padre */
  }
  .nover {
    display: none !important;
  }
}
@media (992px >= width > 600px) {
  .P {
    width: 50px;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }
  header > input {
    width: 100vw;
  }
  header > a {
    text-decoration: none; /* Quitar subrayado */
    color: grey; /* Heredar el color del elemento padre */
  }
  .infospam {
    flex-direction: column;
  }
  .nover {
    display: none !important;
  }
}
@media (600px >= width) {
  .P {
    width: 50px;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }
  header > input {
    width: 100vw;
  }
  header > a {
    text-decoration: none; /* Quitar subrayado */
    color: grey; /* Heredar el color del elemento padre */
  }
  .barra > a {
    gap: 5px;
  }
  .spam {
    display: none;
  }
  footer {
    display: none;
  }
  .ver {
    display: none;
  }
  .abajo {
    width: auto;
  }
}/*# sourceMappingURL=styles.css.map */